@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'), url(./UbuntuMono-Regular.ttf) format('truetype');
  }

.Story {
    display: flex;
    text-align: unset;
    line-height: 2rem;
}

.Story p {
    line-height: 1.25rem;
}

.Story-index {
    min-width: 25px;
    margin-right: 10px;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
    color: var(--color-text-secondary);

    display: flex;
    justify-content: flex-end;
    line-height: 1.4rem;
}

.Story-first-line {
    font-size: 1rem;
}

.Story-first-line-title {
    margin-right: 12px;
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    color: var(--color-text-primary);
}

.Story-first-line-title:hover {
    color: var(--color-action);
    cursor: pointer;
}

.Story-first-line-source {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.Story-second-line {
    font-size: 0.6rem;
    color: var(--color-text-secondary);

    display: flex;
    align-items: center;
}

.Story-second-line-save-icon {
    width: 1rem;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.Story-second-line-save-icon svg {
    stroke: var(--color-text-secondary);
}

.Story-second-line-save-icon-saved svg {
    fill: var(--color-action);
    stroke: var(--color-action);
}
