.Main-showMore-button {
    margin: 20px;
    margin-left: 33px;

    padding: 8px 14px;
    background-color: var(--color-action);

    font-size: 14px;
    color: var(--color-text-action);

    cursor: pointer;
}