.ThemeButton {
    height: 33px;
    width: 33px;
    margin-right: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.ThemeButton svg {
    fill: var(--color-text-primary);
    stroke: var(--color-text-primary);
}

.ThemeButton:hover svg {
    fill: var(--color-action);
    stroke: var(--color-action);
}
