.Header {
    margin-top: 45px;
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-section {
    display: flex;
    align-items: center;
}

.Header-logo-wrapper {
    margin-right: 18px;

    display: flex;
    align-items: center;
}

.Header-title-wrapper {
    margin-right: 36px;

    display: flex;
    align-items: center;
}

.Header-navbar {
    display: flex;
}

.Header-navbar li {
    margin: 4px;

    font-size: 16px;
}


.Header-navbar li:hover {
    color: var(--color-action);
}

.Header-navbar-selected-item {
    font-weight: 700;
    color: var(--color-action);
}
